doctype html
html(ng-app='next-update-stats')
    head
        title= title
        header = 'dupa'
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
            body
                h1= header
                p See global upgrade statistics for a package